   main>.container {
     padding: 60px 15px 0;
     margin : auto;
   }


   .bg-color {
     background: #a3c1d3;
   }

   .form-color {
     background-color: #d6a7ae;
   }

   .textcolor {
     color: #faf8f8;
   }

.btn-color-1{
  color           : #faf8f8;
  background-color: #F44336;
}

   
